* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Cardo", serif, "微軟正黑體";
  box-sizing: border-box;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: rgb(112, 112, 111);
  font-weight: bold;
}

abbr {
  border-bottom: none;
}

.page-wrapper {
  background-image: url("./images/photo-1523878288860-7ad281611901.jfif");
  background-attachment: fixed;
}

#zen-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;

  margin: 0;
  padding: 0;
}

#banner {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#banner h1 {
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
}

#banner h2 {
  text-align: center;
  font-size: 1.5rem;
}

#zen-summary {
  /* background-color: rgb(255, 255, 255); */
  width: 75%;
  padding: 50px;
  margin: 100px;
  font-size: 2rem;
  border: 5px inset #a1a0a0;

  display: flex;
  justify-content: center;
  flex-direction: column;
}
#zen-summary a {
  color: #df6c89;
}
#zen-preamble {
  width: 100%;
  height: 100%;
  /* border: 1px solid #000000; */
  background-color: #a1a0a0;

  margin: auto;
  padding: 100px;
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
#zen-preamble::before,
#zen-preamble::after {
  content: "";
  display: none;
}
#zen-preamble h3 {
  margin-bottom: 50px;
  width: 80%;
  font-size: 2.5rem;
}
#zen-preamble h3::before {
  content: " ";
  width: 100px;
  height: 100px;
  background: #df6c89;
  position: absolute;
  top: -30px;
  left: -30px;
  z-index: -1;
}
#zen-preamble p {
  margin: 10px 0;
  width: 80%;
  font-size: 1.5rem;
}

#zen-supporting {
  /* background-color: aliceblue; */
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#zen-supporting #zen-explanation {
  background-color: #a1a0a0;
  margin: 50px 0;
}

#zen-supporting #zen-explanation h3 {
  background: url(./images/bg_03.jfif);
  width: 100%;
  height: 500px;
  margin: 100px 0;
  color: #df6c89;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

#zen-supporting #zen-explanation p {
  font-size: 1.5rem;
  margin: 80px;
}

#zen-supporting #zen-participation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  overflow: hidden;
}
#zen-supporting #zen-participation h3 {
  font-size: 4rem;
  margin: 50px;
}

#zen-supporting #zen-participation h3::before {
  content: " ";
  width: 100px;
  height: 100px;
  background-color: #df6c89;
  position: absolute;
  top: -5px;
  left: 15px;
  z-index: -1;
}
#zen-supporting #zen-participation p {
  font-size: 1.5rem;
  margin: 50px;
}
#zen-supporting #zen-benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#zen-supporting #zen-benefits h3 {
  font-size: 4rem;
  margin: 100px;
}

#zen-supporting #zen-benefits h3::before {
  content: "";
  width: 100px;
  height: 100px;
  background-color: rgb(143, 142, 142);
  position: absolute;
  top: -5px;
  right: 15px;
  z-index: -1;
}
#zen-supporting #zen-benefits p {
  font-size: 1.5rem;
  margin: 50px;
}

#zen-requirements {
  background: url(./images/bg_04.jfif) no-repeat center/cover;
  margin: 100px 0;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}
#zen-requirements h3 {
  font-size: 3rem;
  margin-top: 100px;
  color: #df6c89;
}
#zen-requirements-p {
  font-size: 1.5rem;
  margin: 50px;
  color: #131112;

  display: flex;
  flex-direction: column;
}
#zen-requirements-p p {
  background: rgba(255, 255, 255, 0.5);
  margin: 50px;
  padding: 50px;
}
#zen-requirements-p p a {
  color: #131112;
}
#zen-requirements p:last-child {
  display: none;
}

#sidebar {
  padding: 100px;
  background: rgb(99, 94, 94);
  height: 100vh;
  color: #df6c89;
  position: fixed;
  right: -510px;
  top: 0;
  cursor: pointer;
  /* overflow: auto; */
  box-sizing: border-box;

  transition: 1s;
}

#sidebar:hover {
  background: rgb(99, 94, 94);
  height: 100vh;
  color: #df6c89;
  position: fixed;
  right: 0px;
  top: 0;
  cursor: pointer;
  /* overflow: auto; */
  box-sizing: border-box;
}

#sidebar::before {
  content: "";
  height: 100px;
  width: 100px;
  border-radius: 5%;
  background-color: rgb(99, 94, 94);
  color: #df6c89;
  position: fixed;
  top: 50px;
  right: -50px;
  cursor: pointer;

  transition: 1s;

  animation: fadeInRight;
  animation-duration: 2s;
}
#sidebar::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8.7px 8px 0;
  border-color: transparent #ffffff transparent transparent;

  position: fixed;
  top: 93px;
  right: 20px;
  cursor: pointer;

  transition: 1s;

  animation: fadeInRight;
  animation-duration: 2s;
}

#sidebar:hover::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 8.7px;
  border-color: transparent transparent transparent #df6c89;

  position: fixed;
  top: 93px;
  right: 520px;
  cursor: pointer;
}

#sidebar:hover::before {
  content: "";
  height: 100px;
  width: 100px;
  border-radius: 5%;
  background: rgb(99, 94, 94);
  color: #df6c89;
  position: fixed;
  right: 450px;
  top: 50px;
  cursor: pointer;
}

#sidebar h3 {
  font-size: 2rem;
  color: #ffffff;
  margin: 20px 0;
}

#sidebar a {
  color: #df6c89;
  transition: 0.5s;
}
#sidebar a:hover {
  color: #dfdddd;
}

#footer {
  font-size: 1rem;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

#footer a {
  color: #000000;
  margin: 15px;

  height: 50px;
  width: 50px;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: 0.8s;
}

#footer a:hover {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(223, 108, 137, 0.8);
  transform: scale(1.2);
}

#footer img {
  height: 40px;
  width: 40px;
}

@media (max-width: 480px) {
  #zen-summary {
    width: 90%;
    margin: 50px 10px;
    font-size: 1.8rem;
  }
  #zen-preamble {
    padding: 0;
  }
  #zen-preamble h3 {
    margin: 50px 0;
    width: 90%;
    font-size: 2.5rem;
  }
  #zen-preamble p {
    margin-bottom: 50px;
    width: 90%;
    font-size: 1.5rem;
  }

  #zen-supporting #zen-explanation h3 {
    font-size: 2.5rem;
    text-align: center;
  }

  #zen-supporting #zen-explanation p {
    font-size: 1.5rem;
    margin: 80px 20px;
  }
  #zen-supporting #zen-participation {
    width: 90%;
  }
  #zen-supporting #zen-participation h3 {
    width: 100%;
    margin: 30px;
  }

  #zen-supporting #zen-participation p {
    margin: 10px;
    margin-bottom: 50px;
  }
  #zen-requirements h3 {
    font-size: 2.5rem;
    margin-top: 100px;
    color: #df6c89;
  }
  #zen-requirements-p {
    font-size: 1.5rem;
    margin: 50px 10px;
    color: #131112;
  }
  #zen-requirements-p p {
    margin: 50px 10px;
    padding: 30px 25px;
  }
  #sidebar {
    padding: 30px;
  }
  #sidebar:hover::before {
    content: "";
    width: 0px;
    height: 0px;
    top: 0;
    right: 0;
  }
  #sidebar:hover::after {
    content: "";
    width: 0px;
    height: 0px;
    top: 0;
    right: 0;
    display: none;
  }
  #footer a {
    margin: 5px;

    height: 50px;
    width: 50px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: 0.8s;
  }
}

@media (min-width: 992px) {
  #banner h1 {
    font-size: 6rem;
  }

  #banner h2 {
    font-size: 2rem;
  }

  #zen-preamble::before {
    content: "";
    background: url(./images/bg_01.jfif) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5%;
    width: 20%;
    height: 80%;
    animation: fadeIn;
    animation-duration: 2s;
  }
  #zen-preamble::after {
    content: "";
    background: url(./images/bg_02.jfif) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 25%;
    width: 20%;
    height: 80%;
    animation: fadeIn;
    animation-duration: 2s;
  }

  #zen-preamble h3 {
    width: 50%;
  }
  #zen-preamble p {
    width: 50%;
  }

  #zen-preamble {
    display: flex;
    align-items: flex-end;
  }

  #zen-supporting #zen-participation {
    flex-direction: row;
  }

  #zen-supporting #zen-participation h3::before {
    content: " ";
    width: 200px;
    height: 200px;
  }

  #zen-supporting #zen-benefits {
    flex-direction: row-reverse;
  }

  #zen-supporting #zen-benefits h3::before {
    content: "";
    width: 200px;
    height: 200px;
  }

  #zen-requirements-p {
    flex-direction: row;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  #zen-requirements-p {
    font-size: 1.2rem;
    margin: 50px 20px;
    color: #131112;
  }
  #zen-requirements-p p {
    margin: 50px 20px;
    padding: 30px 25px;
  }
  #zen-supporting #zen-participation h3 {
    width: 100%;
    margin: 30px;
  }

  #zen-supporting #zen-participation p {
    margin: 20px;
    margin-bottom: 50px;
  }
}
